<div class="admin-nav-container">
	<div class="nav-logo">
		<img src="/images/crisis-corps-logo.png" class="admin-logo" alt="Crisis Corps logo." />
	</div>
	<div class="admin-nav">
		<ul>
			<li><a href="dashboard">Dashboard</a></li>
			<li><a href="crisis">Crisis</a></li>
			<li><a href="tasks">Tasks</a></li>
		</ul>
	</div>
</div>