	<footer class="admin-footer">
		<div>
			<img src="/images/crisis-corps-logo.png" class="admin-footer-logo" alt="Crisis Corps logo." /><p>&#169; 2016 Crisis Corps all rights reserved</p>
		</div>
	</footer>

	<!-- build:js app/public/javascript/main.min.js -->
	<script src="javascript/main-admin.js"></script>
	<!-- endbuild -->

</body>
</html>