<!-- Footer -->
<footer class="main-footer">
	<div id="logo">
		<img src="/images/crisis-corps-logo.png" class="main-footer-logo" alt="Crisis Corps logo." />
		<p>&#169; 2016 Crisis Corps all rights reserved</p>
	</div>
	<div id="team">
		<h4>Team Members</h4>
			<p class="triggerModal" id="one">Robert Bethencourt</p>
			<p class="triggerModal" id="two">Josh Cruey</p>
			<p class="triggerModal" id="three">Emily Frazin</p>
			<p class="triggerModal" id="four">Jennifer Hernandez</p>
			<p class="triggerModal" id="five">Josh Poffenberger</p> 
		
	</div>

	<div class="modal fade bs-example-modal-sm" id = "modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  		<div class="modal-dialog modal-sm">
    		<div class="modal-content">
      			<div class="hiddenModalContent" data-id="one">hey</div>
      			<div class="hiddenModalContent" data-id="two">hi</div>
      			<div class="hiddenModalContent" data-id="three">hellp</div>
      			<div class="hiddenModalContent" data-id="four">whats up</div>
      			<div class="hiddenModalContent" data-id="five">bye</div>
    		</div>
    	</div>

    
  	
</div>
</footer>

	<script>
	     $(document).ready(function(){
		    $(".triggerModal").click(function(e) {
		    	$('.hiddenModalContent').attr('hidden', true);
		    	var target = $(e.currentTarget).attr('id');
		    	$('.hiddenModalContent[data-id="'+ target + '"]').attr('hidden', false)
	           $('#modal').modal({
	        		show: true
	    		});
	        });
		});

	</script>

	<!-- build:js main.min.js -->
	<script src="javascript/main-web.js"></script>
	<!-- endbuild -->

</body>
</html>