<!-- nav -->
<nav class="navbar">

	<div class="container">

		<div class="navbar-header">

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span> 
				</button>
				<a class="navbar-brand" href="#top"><img src="/images/crisis-corps-logo.png" class="nav-brand-symbol" alt="Crisis Corps logo." /></a>
		</div>

		<div class="collapse navbar-collapse" id="myNavbar">
				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="home">Home</a></li>
  					<li><a href="#about">About</a></li>
  					<li><a href="#friends">Friends</a></li>
          			<li><a href="signin">Sign-in</a></li>
				</ul>

		</div>

	</div>
	
</nav>