/* admin footer */
.admin-footer {
	padding: 100px 0 20px 0;
}

	.admin-footer img {
		width: 100px;
		margin: -5px 10px 0 0;
		float: left;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}