/* admin nav main left */
.admin-nav-container {
	width: 100%;
	background: #11191C;
}

	.nav-logo {
		height: 60px;
		padding: 5px;
		background: #212d33;
	}

	img.admin-logo {
		max-width: 100%;
		max-height: 50px;
	}

	#nav-toggle {
		width: 50%;
		padding: 12px 20px 0 0;
		float: right;
		color: #fff;
		text-align: right;
		font-size: 1.2em;
	}

	.admin-nav ul {
		list-style-type: none;
		padding: 0;
	}

		.admin-nav .glyphicon {
			margin-right: 10px;
		}

		.admin-nav li a {
			display: block;
			width: 100%;
			padding: 20px 5px 20px 15px;
			color: #ddd;
		}

		.admin-nav li a:hover, .admin-nav li a:focus, .admin-nav li a.active {
			text-decoration: none;
			background: #212D33;
		}


/* admin nav top */
.admin-nav-top {
	height: 60px;
	width: 100%;
	background: #fff;
}

	.breadcrumbs-container {
		width: 50%;
		float: left;
		padding: 12px 0 0 20px;
	}

		ol.breadcrumb {
			background: #fff;
		}

	.username-container {
		width: 50%;
		float: right;
		padding: 20px 20px 0 0;
		text-align: right;
	}

		.username {
			font-size: 1.1em;
		}

		.username-container a.btn-sm {
			margin: -5px 0 0 10px;
		}


/* media queries */

/* iPads (landscape) ----------- */
@media only screen and (min-width : 1024px) {

	.admin-nav-container {
		position: fixed;
		height: 100%;
		width: 12%;
		float: left;
	}

		#nav-toggle {
			display: none;
		}

		/* important is to override the bootstrap hidden class !important and be able to show the nav once the screen size hits 1024px */
		.admin-nav .hidden {
			display: block!important;
		}


	/* admin nav top */
	.admin-nav-top {
		position: fixed;
		z-index: 99;
		height: 60px;
		width: 88%;
		margin-left: 12%;
		box-shadow: 1px 1px 20px #ddd;
	}
    
}