/* jumbotron */
	
	.crisis {
		display: none;
	}

	.video-container {
		height: 650px;
		position: relative;
		overflow: hidden;
	}

	video {
		width: 100%;
		position: absolute;
	}

	.video-overlay {
		position: absolute;
		z-index: 99;
		width: 70%;
		margin: 100px 15%;
		padding: 50px;
		color: #fff;
		text-align: center;
		background: rgba(0,0,0, .5);
	}

	.about_me {
		height: 550px;
		position: relative;
		overflow: hidden;
		background-color: #2faacc ;
		margin-top: 0%;
	}

	#aboutWell {
		margin-top: 15%;
		background: rgba(0,0,0, .5);
	}

	.friends {
		height: 800px;
		position: relative;
		overflow: hidden;
		text-align: center;
		margin-top: 0%;
		border-color: #2faacc;
	}

	#friendsWell{
		margin-top: 10%;
	}