/* jumbotron */
	
	.crisis {
		display: none;
	}

	.pic-container {
		height: 650px;
		position: relative;
		overflow: hidden;
	}

/*
	.jumbotron{
    	padding: 0;
    	margin-bottom: 0;
	}
*/

	.jumbotron {
		padding: 50px 50px 200px 50px;
	}

	.jumbotron h2 {
		font-family: 'Oswald', sans-serif;
	}

	.picture {
		width: 100%;
		position: absolute;
	}


	.video-overlay {
		position: absolute;
		z-index: 99;
		width: 70%;
		margin: 15%;
		padding: 50px;
		color: #fff;
		text-align: center;
		background: rgba(0,0,0, .5);
	}

	.molecule-bg {
		margin-bottom: 0;
		background: url(/images/cc-header.jpg) no-repeat top center;
	}

	.about_me {
		position: relative;
		overflow: hidden;
		background-color: #ffffff ;
		margin-top: 0%;
	}

	#aboutWell {
		margin-top: 10%;
	}

	.friends {
		height: 800px;
		position: relative;
		overflow: hidden;
		text-align: center;
		margin-top: 0%;
		border-color: #2faacc;
		background-color: #2faacc;
	}

	#friendsWell{
		margin-top: 5%;
		margin-bottom: 5%;
	}

	.panel.panel-primary{
    background-color: rgba(245, 245, 245, 0);
}

/* iPads (landscape) ----------- */
@media only screen and (min-width : 1024px) {

	.jumbotron p {
		width: 50%;
		font-size: 1.1em;
	}

}