/*Main Footer*/
.main-footer {
	padding: 20px 0 20px 0;
	background-color: #212d33;
}
	

	.main-footer img {
		width: 125px;
		margin: -6px 5px 0 -5px;
		float: left;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}

	.main-footer p {
		color: #D6D6D6;
		margin: 57px 0 0 0;
	}

	#team {
		float:left;
	}

	#team h4 {
		margin-top: 30px;
		margin-left: 10px;
		color:#D6D6D6;
	}

	#team p {
		display:inline;
		padding-right: 10px;
		color:#D6D6D6;
		cursor:pointer;
	}

	#one {
		margin-left: 10px;
	}

	#modal {
		position:relative;
	}

	.modal-content {
		/*padding:3px;*/
		margin-top: -7%;
		text-align: center;
		color:#2faacc;
	}

	.close {
		margin-right:5px;
	}

	i {
		color:#2faacc;
		padding:0 10px 5px;
	}

	i:hover {
		opacity: 0.8;
	}