{{>nav}}
<!-- Form Document -->
<div class= "container">

	<div class="jumbotron">
	  	<h1>About</h1>
	  	<p>...</p>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
	
</div>

<!-- Footer -->
	
</body>


<script type="text/javascript">

//no need for javascript on about section.


</script>
</html>