<!DOCTYPE html>
<html lang="en">
<head>
	

</head>
<body>

<!-- Header -->
	
	<!--About us Link -->

	<!-- "Friends" Link -->

	<!-- Resources -->


<!-- Form Document -->
<form>

	<div class = 'container'>

		<!-- Create Tasks -->
		<div class="form-group">
			<div id = "title">
		    	<label for="createTask">Create Task</label>
		    	<input type="text" class="form-control" id="createTask" placeholder="Task">
	    		<br>
		    	<label for="description">Description</label>
		    	<input type="text" class="form-control" id="description" placeholder="Description">
	    	</div>
	  	</div>
		
		<!--Button -->
		<button type="submit" class="btn btn-default">Create Task</button>

		<!-- On button click move information to active crisis div -->

		<!-- Crisis Div-->
		<div class = "form-group">
			<div id = "active-crisis"></div>
		</div>

	</div>

</form>

	<div class = "container">

		<button type="submit" class="btn btn-default">Text Blast!</button>

	</div>

</body>


<script type="text/javascript">

//$('#id').on('click', function () {

	//pull values from form input

	//push those values to database

	//refresh data base information. 

// });


//display my sql data into a form document.

//look up npm package to send out e-mail/text

//attach package to button


</script>
</html>