<h1>Admin Create</h1>
<!--About us Link -->

	<!-- "Friends" Link -->

	<!-- Resources -->


<!-- Form Document -->

	<!-- Inputs -->

		<!-- Name -->

		<!-- Email -->

		<!-- Password -->

			<!-- Radio Button -->

		<!-- Submit Button -->