{{>admin-nav}}

<!-- admin body -->
<div class="admin-body">

	<!-- create task module -->
	<div class="conatiner">
		<div class="row">
			<div class="col-md-6">
				<div class="module-header">
					<h5>Create Crisis Manager</h5>
				</div>
				<div class='module'>

					<form>
					<!-- Inputs -->
					  <!-- Crisis Name -->
					  <div class="form-group">
					    <label for="inputCrisisName">Crisis Name</label>
					    <input type="text" class="form-control" id="inputCrisisName">
					  </div>
					  <!-- Crisis Description -->
					  <div class="form-group">
					    <label for="inputDescription">Crisis Description</label>
					    <textarea class="form-control" rows="3" id="inputDescription"></textarea>
					  </div>
					  <!-- Submit Button -->
					  <button type="submit" class="btn btn-primary">Alert</button>
					</form>
					<!-- Form Document End -->

				</div> <!-- end module -->
			</div> <!-- end col-md-6 -->

		</div> <!-- end row -->
	</div> <!-- end container -->

{{>admin-footer}}

</div> <!-- end admin-body -->		