{{>admin-nav}}

<!-- admin body -->
<div class="admin-body">

	<!-- create task module -->
	<div class="conatiner">
		<div class="row">
			<div class="col-md-6">
				<div class="module-header">
					<h4>Create Task</h4>
				</div>
				<div class='module'>

					<!-- Form Document -->
					<form>
						<div class="form-group">
							<div id = "title">
						    	<label for="createTask">Description</label>
						    	<input type="text" class="form-control" id="description" placeholder="description">
					    		
					    		<br>
						    	
						    	<label for="description">Contact Name</label>
						    	<input type="text" class="form-control" id="contactName" placeholder="Contact Name">

						    	<br>

						    	<label for="createTask">Contact Number</label>
						    	<input type="text" class="form-control" id="contactNumber" placeholder="Contact Number">
					    		
					    		<br>

						    	<label for="description">Address</label>
						    	<input type="text" class="form-control" id="address" placeholder="Address">

						    	<br>

						    	<label for="createTask">Members Needed</label>
						    	<input type="text" class="form-control" id="membersNeeded" placeholder="Members Needed">
					    		<br>

					    	</div>
					  	</div>
					  	<div class="module-footer">
					  		<!--Button -->
							<button type="submit" class="btn btn-primary">Create Task</button>
					  	</div> <!-- end module-footer -->
					</form>
				</div> <!-- end module -->
			</div> <!-- end col-md-6 -->

			<div class="col-md-6">
				<div class="module-header">
					<h4>Text Blast</h4>
				</div> <!-- end module-header -->
				<div class="module">
					
					<!-- Form Document -->
					<form>
						<div class="form-group">
							<div id = "title">
						    	<label for="createTask">Content</label>
						    	<textarea class="form-control" id="description" placeholder="content to text"></textarea>
						    </div>
						</div>

							<!-- On button click move information to active crisis div -->
							<!-- Crisis Div-->
							<div class = "form-group">
								<div id = "active-crisis"></div>
							</div>

						<div class="module-footer">
							<button type="submit" class="btn btn-primary">Text Blast!</button>
						</div>
					</form>

				</div> <!-- end module -->
			</div> <!-- end col-md-6 -->

		</div> <!-- end row -->
	</div> <!-- end container -->

</div> <!-- end admin-body -->

<script type="text/javascript">

//$('#id').on('click', function () {

	//pull values from form input

	//push those values to database

	//refresh data base information. 

// });


//display my sql data into a form document.

//look up npm package to send out e-mail/text

//attach package to button


</script>