<h1>Admin Create</h1>
<!--About us Link -->

	<!-- "Friends" Link -->

	<!-- Resources -->

<div class="container">
	<!-- Form Document -->
	<form>
	<!-- Inputs -->
	  <!-- Name -->
	  <div class="form-group">
	    <label for="inputName">Name</label>
	    <input type="text" class="form-control" id="inputName" placeholder="Name">
	  </div>
	  <!-- Email -->
	  <div class="form-group">
	    <label for="inputEmail">Email</label>
	    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
	  </div>
	  <!-- Password -->
	  <div class="form-group">
	    <label for="inputPassword">Password</label>
	    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
	  </div>
	  <!-- Radio Button -->
	  <div class="radio">
	    <label>
	      <input type="radio"> Remember me
	    </label>
	  </div>
	  <!-- Submit Button -->
	  <button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
	

			

		