<h1>Admin Create</h1>
<!--About us Link -->

	<!-- "Friends" Link -->

	<!-- Resources -->

<div class="container">
	<!-- Form Document -->
	<form>
	<!-- Inputs -->
	  <!-- Crisis Name -->
	  <div class="form-group">
	    <label for="inputCrisisName">Crisis Name</label>
	    <input type="text" class="form-control" id="inputCrisisName">
	  </div>
	  <!-- Crisis Description -->
	  <div class="form-group">
	    <label for="inputDescription">Crisis Description</label>
	    <textarea class="form-control" rows="3" id="inputDescription"></textarea>
	  </div>
	  <!-- Submit Button -->
	  <button type="submit" class="btn btn-default">Alert</button>
	</form>
</div>
	

			

		