<form>

	<div class = 'container'>
		
		<div class="form-group">
			
			<div id = "Name">
		    	<label for="createTask">Company Name</label>
		    	<input type="text" class="form-control" id="CompanyName" placeholder="Company Name">
	    		
	    		<br>

	    		<label for="createTask">Contact Name</label>
		    	<input type="text" class="form-control" id="ContactName" placeholder="Contact Name">
	    		
	    		<br>
		    	
		    	<label for="description">Email Address</label>
		    	<input type="email" class="form-control" id="EmailAddress" placeholder="JohnSmith@google.com">

		    	<br>

		    	<label for="createTask">Contact Number</label>
		    	<input type="text" class="form-control" id="ContactNum" placeholder="Contact Number">
	    		
	    		<br>

		    	<label for="createTask">Donation Description</label>
		    	<input type="text" class="form-control" id="DonationDesc" placeholder="Donation Description">
	    		<br>

	    		<!--Button -->
				<button type="submit" class="btn btn-default">Submit</button>

	    	</div>
	    </div>
	</div>
</form>