{{>admin-nav}}

<!-- admin body -->
<div class="admin-body">

	<!-- create task module -->
	<div class="conatiner">

		<div class="crisis-view">
			<div class="row">
			
				<div class="col-md-6">

					<div class="module-header">
						<h5>Create Crisis Manager</h5>
					</div>
					<div class='module'>

						<form>
						<!-- Inputs -->
						  <!-- Crisis Name -->
						  <div class="form-group">
						    <label for="input-crisis-name">Crisis Name</label>
						    <input type="text" class="form-control" id="input-crisis-name">
						  </div>
						  <!-- Crisis Description -->
						  <div class="form-group">
						    <label for="input-crisis-desc">Crisis Description</label>
						    <textarea class="form-control" rows="3" id="input-crisis-desc"></textarea>
						  </div>
						  <!-- Submit -->
						  <a href="#" class="btn btn-danger" id="create-crisis" data-toggle="modal" data-target="#createCrisisModal">Create Crisis</a>
						</form>
						<!-- Form Document End -->
					</div> <!-- end module -->

					<!-- deactivate crisis -->
					<div class="module-header">
						<h5>Deactivate Crisis</h5>
					</div> <!-- end module-header -->
					<div class="module">
						<a href="corp" class="btn btn-primary" id="deactivate-crisis">Deactivate Crisis</a>
					</div> <!-- end module -->

					<!-- text blast -->
					<div class="module-header">
						<h5>Text Blast</h5>
					</div> <!-- end module-header -->
					<div class="module">
						<!-- Form Document -->
						<form>
							<div class="form-group">
						    	<label for="text-description">Content</label>
						    	<textarea class="form-control" id="text-description" placeholder="content to text"></textarea>
							</div>
							<!-- Submit -->
						  	<a href="#" class="btn btn-primary" id="text-blast" data-toggle="modal" data-target="#textBlastModal">Text Blast</a>
						</form>
					</div> <!-- end module -->

					<!-- text blast by blood type -->
					<div class="module-header">
						<h5>Text Blast by Blood Type</h5>
					</div> <!-- end module-header -->
					<div class="module">
						<!-- Form Document -->
						<form>
							<div class="form-group">
								<label for="bloodType">Blood Type</label>
							    <select class="form-control" id="blood-type">
									<option>A</option>
									<option>B</option>
									<option>AB</option>
									<option>O</option>
									<option>I Don't Know / NA</option>
								</select>
								<br />
							</div>
							<div class="form-group">
							    <label for="bt-text-description">Blood Type Text Description</label>
							    <textarea class="form-control" rows="3" id="bt-text-description"></textarea>
							</div>
							<!-- Submit -->
						  	<a href="#" class="btn btn-primary" id="bt-text-blast" data-toggle="modal" data-target="#bloodTypetextBlastModal">Blood Type Text Blast</a>
						</form>
					</div> <!-- end module -->

					<!-- list of corporate volunteers -->
					<div class="module-header">
						<h5>List of Corporate Volunteers</h5>
					</div> <!-- end module-header -->
					<div class="module">
						<a href="corp" class="btn btn-primary">List of Corporate Volunteers</a>
					</div> <!-- end module -->

				</div> <!-- end col-md-6 -->


<!-- ****************** this is where the new column starts ********************* -->


				<div class="col-md-6">
					
					<!-- create task -->
					<div class="module-header">
						<h5>Create Task</h5>
					</div>
					<div class='module'>
						<!-- Form Document -->
						<form>
							<div class="form-group">
						    	<label for="task-title">Title</label>
						    	<input type="text" class="form-control" id="task-title" placeholder="description">
					    		<br>

							    <label for="task-desc">Task Description</label>
							    <textarea class="form-control" rows="3" id="task-desc"></textarea>
							    <br />

							    <label for="num-vols">Number of Volunteers</label>
							    <input type="text" class="form-control" id="num-vols" placeholder="100">
							    <br />
						    	
						    	<label for="contact-name">Contact Name</label>
						    	<input type="text" class="form-control" id="contact-name" placeholder="Contact Name">
						    	<br>

						    	<label for="contact-number">Contact Number</label>
						    	<input type="text" class="form-control" id="contact-number" placeholder="Contact Number">		    		
					    		<br>

						    	<label for="address">Address</label>
						    	<input type="text" class="form-control" id="address" placeholder="Address">
						    	<br>

						    	<label for="address-2">Address 2</label>
						    	<input type="text" class="form-control" id="address-2" placeholder="Address 2">
						    	<br>

						    	<label for="city">City</label>
						    	<input type="text" class="form-control" id="city" placeholder="Address 2">
						    	<br>

						    	<label for="state">State</label>
						    	<select class="form-control" id="state">
									<option value="AA" >AA</option>
									<option value="AE" >AE</option>
									<option value="AK" >AK</option>
									<option value="AL" >AL</option>
									<option value="AP" >AP</option>
									<option value="AR" >AR</option>
									<option value="AS" >AS</option>
									<option value="AZ" >AZ</option>
									<option value="CA" >CA</option>
									<option value="CO" >CO</option>
									<option value="CT" >CT</option>
									<option value="DC" >DC</option>
									<option value="DE" >DE</option>
									<option value="FL" selected>FL</option>
									<option value="FM" >FM</option>
									<option value="GA" >GA</option>
									<option value="GU" >GU</option>
									<option value="HI" >HI</option>
									<option value="IA" >IA</option>
									<option value="ID" >ID</option>
									<option value="IL" >IL</option>
									<option value="IN" >IN</option>
									<option value="KS" >KS</option>
									<option value="KY" >KY</option>
									<option value="LA" >LA</option>
									<option value="MA" >MA</option>
									<option value="MD" >MD</option>
									<option value="ME" >ME</option>
									<option value="MH" >MH</option>
									<option value="MI" >MI</option>
									<option value="MN" >MN</option>
									<option value="MO" >MO</option>
									<option value="MP" >MP</option>
									<option value="MS" >MS</option>
									<option value="MT" >MT</option>
									<option value="NC" >NC</option>
									<option value="ND" >ND</option>
									<option value="NE" >NE</option>
									<option value="NH" >NH</option>
									<option value="NJ" >NJ</option>
									<option value="NM" >NM</option>
									<option value="NV" >NV</option>
									<option value="NY" >NY</option>
									<option value="OH" >OH</option>
									<option value="OK" >OK</option>
									<option value="OR" >OR</option>
									<option value="PA" >PA</option>
									<option value="PR" >PR</option>
									<option value="PW" >PW</option>
									<option value="RI" >RI</option>
									<option value="SC" >SC</option>
									<option value="SD" >SD</option>
									<option value="TN" >TN</option>
									<option value="TX" >TX</option>
									<option value="UT" >UT</option>
									<option value="VA" >VA</option>
									<option value="VI" >VI</option>
									<option value="VT" >VT</option>
									<option value="WA" >WA</option>
									<option value="WI" >WI</option>
									<option value="WV" >WV</option>
									<option value="WY" >WY</option>
								</select>
						    	<br>

						    	<label for="zip">Zip</label>
						    	<input type="text" class="form-control" id="zip" placeholder="32809">
						    	<br>

						  	</div>
							<!-- Submit -->
						  	<a href="#" class="btn btn-primary" id="SubmitTask" data-toggle="modal" data-target="#createTastModal">Create Task</a>
						</form>
					</div> <!-- end module -->
					
				</div> <!-- end col-md-6 -->
			</div> <!-- end row -->
		</div> <!-- crisis -->
	</div> <!-- end container -->

	{{>admin-footer}}

	<!-- ******************************** modals ********************************** -->

	<!-- create crisis manager Modal -->
	<div class="modal fade" id="createCrisisModal" tabindex="-1" role="dialog" aria-labelledby="createCrisisModalLabel">
	    <div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title">Crisis Manager Created</h4>
	      		</div>
	      		<div class="modal-body">
	        		<p>You can now begin creating tasks.</p>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		</div>
	    	</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- text blast Modal -->
	<div class="modal fade" id="textBlastModal" tabindex="-1" role="dialog" aria-labelledby="textBlastModalLabel">
	    <div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title">Text Blast Sent</h4>
	      		</div>
	      		<div class="modal-body">
	        		<p>Texts have been sent to all volunteers</p>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		</div>
	    	</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- blood type text blast Modal -->
	<div class="modal fade" id="bloodTypetextBlastModal" tabindex="-1" role="dialog" aria-labelledby="bloodTypetextBlastModalLabel">
	    <div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title">Blood Type Text Blast Sent</h4>
	      		</div>
	      		<div class="modal-body">
	        		<p>Texts have been sent to all volunteers with the specified blood type.</p>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		</div>
	    	</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<!-- create task Modal -->
	<div class="modal fade" id="createTastModal" tabindex="-1" role="dialog" aria-labelledby="createTastModalLabel">
	    <div class="modal-dialog">
	    	<div class="modal-content">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title">Task Created</h4>
	      		</div>
	      		<div class="modal-body">
	        		<p>Volunteers can now begin signing up.</p>
	      		</div>
	      		<div class="modal-footer">
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      		</div>
	    	</div><!-- /.modal-content -->
	  	</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</div> <!-- end admin-body -->

<script type="text/javascript">

$('#SubmitTask').on('click', function () {
	//pull values from form input
	var newTask = {
		taskTitle: $('#task-title').val().trim(),
		taskDescript: $('#task-desc').val().trim(),
		volsNeeded: $('#num-vols').val().trim(),
		volsRemaining: $('#num-vols').val().trim(),
		contactName: $('#contact-name').val().trim(),
		contactNum: $('#contact-number').val().trim(),
		taskAddress: $('#address').val().trim(),
		taskAddress2: $('#address-2').val().trim(),
		taskCity: $('#city').val().trim(),
		taskState: $('#state').val().trim(),
		taskZip: $('#zip').val().trim()
	}
	console.log(newTask);
	//push those values to database
	$.post('/newTask', newTask, function() {
		console.log(newTask);
	})
	//refresh data base information. 

});

$('#create-crisis').on('click', function () {
	//pull values from form input
	var newCrisis = {
		crisisName: $('#input-crisis-name').val().trim(),
		crisisDesc: $('#input-crisis-desc').val().trim()		
	}
	console.log(newCrisis);
	//push those values to database
	$.post('/newCrisis', newCrisis, function() {
		console.log(newCrisis);
	})
	//refresh data base information. 

});

$('#text-blast').on('click', function () {
	console.log('works')
	//pull values from form input
	var textMembers = {
		body: $('#text-description').val().trim(),
	}
	console.log(textMembers);
	//push those values to database
	$.post('/textMembers', textMembers, function() {
		console.log(textMembers);
	})
	//refresh data base information. 

});

$('#bt-text-blast').on('click', function () {
	console.log('works')
	//pull values from form input
	var textMembers = {
		body: $('#bt-text-description').val().trim(),
		bloodType: $('#blood-type').find(':selected').text()
	}
	//push those values to database
	$.post('/textMembersBlood', textMembers, function() {
		console.log(textMembers);
	})
	//refresh data base information. 

});

</script>
//display my sql data into a form document.

//look up npm package to send out e-mail/text

//attach package to button