
<!-- jumbotron -->
	<div class="jumbotron">
		<div class="video-container">
			<video preload="auto" autoplay="autoplay" loop="loop" muted="muted">
				<source src="images/crisis-corps-video.mp4" type="video/mp4">
			</video>
			<div class="video-overlay">
				<h1>Volunteer Today, Help Tomorrow</h1>
				<a href="signup" class="btn btn-lg btn-primary">Sign Up</a>
			</div>
		</div>

	</div>