{{>nav}}
<!-- jumbotron -->
	<div class="jumbotron">
		<div class="video-container">
			<video preload="auto" autoplay="autoplay" loop="loop" muted="muted">
				<source src="images/crisis-corps-video.mp4" type="video/mp4">
			</video>

			<div class="video-overlay">
				<h1>Volunteer Today, Help Tomorrow</h1>
				<a href="signup" class="btn btn-lg btn-primary">Sign Up</a>
			</div>
		
		</div>
	</div>

		<!-- About -->
	<div class = "about_me">
		<div class = "container">
			<div id = 'aboutWell'>
				<div class="well well-lg">

				  	<h1>About</h1>
				  	<h4>CrisisCorps was founded in 2016 in response to the tragic shootings that occured at the Pulse nightclub in Orlando, FL. Our goal is to help cities mobilize response teams and volunteers in quicker, more effiencent ways by being prepared before disaster strikes. Help us. Help You. Sign up Today!</h4>
				  	<p><a class="btn btn-primary btn-lg" href="#" role="button">Sign Up!</a></p>
				</div>
			</div>
		</div>
	</div>

		
		<!-- Friends -->
	<div class = "friends">
		<div class = "container">
			<div id = "friendsWell">
				<div class="panel panel-default">
			  		<div class="panel-body">

			  			<h1>Help Local Charities Today</h1>
			  			<br>

		  				<div class="row">
	  						<div class="col-md-4">
	    						<a href="#" class="thumbnail">
	      							<img src="/images/c4o.png" height="350" width="350">
	   	 						</a>
	  						</div>
	  						<div class="col-md-4">
	    						<a href="#" class="thumbnail">
	      							<img src="/images/OU.png" alt="...">
	   	 						</a>
	  						</div>
	  						<div class="col-md-4">
	    						<a href="#" class="thumbnail">
	      							<img src="images/EF.jpg" alt="...">
	   	 						</a>
	  						</div>
	  					</div>

	  					<div class="row">
	  						<div class="col-md-4">
	  							<h4><strong>Code for Orlando</strong></h4>
	    						<p>
	    							Code for Orlando is a group of volunteers who work to make Central Florida a better place to live through technology. Code for Orlando is the local brigade Code for America.
	    						</p>
	  						</div>
	  						<div class="col-md-4">
	  							<h4><strong>OneOrlando Fund</strong></h4>
	    						<p>The OneOrlando Fund was set up by Mayor Buddy Dyer and is managed by the OneOrlando Fund Board which represent the diversity of Orlando, including those in the Hispanic and LGBTQ communities.</p>
	  						</div>
	  						<div class="col-md-4">
	  							<strong>Equality Florida</strong>
	    						<p>
	    							Equality Florida is the largest civil rights organization dedicated to securing full equality for Florida's lesbian, gay, bisexual, and transgender (LGBT) community.


	    						</p>
	  						</div>
	  					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>


<script type="text/javascript">




</script>
</html>