<h1>Home</h1>
<!--About us Link -->

	<!-- "Friends" Link -->

	<!-- Resources -->


<!-- Parallax Scrool Effect? -->

		<!-- Jumbotron -->


		<!--Buttons -->

				<!-- Person Sign Up -->


				<!-- Company Sign Up -->

		<!-- End Jumbotron -->

		

		<!--About US -->

		

		<!-- Contributing Orginizations -->

		

		<!--Resourses-->

<!-- End Parallax -->