<!--About us Link -->

	<!-- "Friends" Link -->

	<!-- Resources -->


<!-- Parallax Scrool Effect? -->
	<div class="container">
		<!-- Jumbotron -->
		<div class="jumbotron">
		  <h1>Crisis Corps</h1>
		  <p>...</p>
		

		<!--Buttons -->

				<!-- Person Sign Up -->
				<a class="btn btn-default" href="#" role="button">Volunteer Sign Up</a>

				<!-- Company Sign Up -->
				<a class="btn btn-default" href="#" role="button">Company Sign Up</a>
		</div>
		<!-- End Jumbotron -->

		

		<!--About US -->
		
		

		<!-- Contributing Orginizations -->
		
		

		<!--Resourses-->
	</div>
<!-- End Parallax -->