<h1>Profile</h1>
<!--About us Link -->

	<!-- "Friends" Link -->

	<!-- Resources -->

<!-- Form Document -->

	<!-- Inputs -->

		<!--  Edit Name -->

		<!-- Edit Email -->

		<!-- Edit Password -->

			<!-- Submit Button -->
			
<!-- End Form Document -->
