<!DOCTYPE html>
<html lang="en">
<head>
	

</head>
<body>

<!-- Header -->
	
	<!--About us Link -->

	<!-- "Friends" Link -->

	<!-- Resources -->

<!-- Form Document -->

	<!-- Inputs -->

		<!--  Edit Name -->

		<!-- Edit Email -->

		<!-- Edit Password -->

			<!-- Submit Button -->
			
<!-- End Form Document -->

<!-- Footer -->
	
</body>


<script type="text/javascript">


</script>
</html>