{{>admin-nav}}

<!-- admin body -->
<div class="admin-body">

	<!-- create task module -->
	<div class="conatiner">
		<div class="row">
			<div class="col-md-6">
				<div class="module-header">
					<h5>Profile</h5>
				</div>
				<div class='module'>

					<!-- Form Document -->
					<form>
						
						<div class="form-group">
							
							<div id = "Name">
						    	<label for="createTask">Member Name</label>
						    	<input type="text" class="form-control" id="memberName" placeholder="Edit Member Name">
					    		
					    		<br>
						    	
						    	<label for="description">Email Address</label>
						    	<input type="email" class="form-control" id="emailAddress" placeholder=" Edit JohnSmith@google.com">

						    	<br>

						    	<label for="createTask">Contact Number</label>
						    	<input type="text" class="form-control" id="contactNumber" placeholder="Edit Contact Number">
					    		
					    		<br>

						    	<label for="description">Twitter Handle</label>
						    	<input type="text" class="form-control" id="twitterHandle" placeholder="Edit Twitter Handle">

						    	<br>

						    	<label for="createTask">Blood Type !!! Shouldn't this be a dropdown so we don't have to do error checking? Only a handlful of blood types</label>
						    	<input type="text" class="form-control" id="bloodType" placeholder="Edit Blood Type">
					    		<br>

					    		<!--Button -->
								<button type="submit" class="btn btn-primary">Create Task</button>

					    	</div>
					    </div>
					</form>
				</div> <!-- end module -->
			</div> <!-- end col-md-6 -->

		</div> <!-- end row -->
	</div> <!-- end container -->

{{>admin-footer}}

</div> <!-- end admin-body -->


<script type="text/javascript">


</script>