<div class="sign-up-in-bg">
	<div class="sign-logo">
		<img src="/images/crisis-corps-logo.png" class="sign-logo" alt="Crisis Corps logo." />
	</div>
	<div class="sign-up-in-container">
	
		<!-- Form Document -->
		<form action="dashboard">
		  	<!-- Email -->
		  	<div class="form-group">
		    	<label for="inputCrisisName">Email</label>
		    	<input type="email" class="form-control" id="inputEmail">
		  	</div>
		  	<!-- Password -->
		  	<div class="form-group">
		   		<label for="inputPassword">Password</label>
		    	<input type="password" class="form-control" id="inputPassword">
		  	</div>
			<!--Button -->
			<a href="dashboard" type="submitMember" class="btn btn-primary btn-lg btn-block" id="signin">Sign In</a>
		</form>
		<!-- End Form Document -->

	</div>
</div>