<h1>Signin</h1>
<!--About us Link -->

	<!-- "Friends" Link -->

	<!-- Resources -->

<div class="container">
	<!-- Form Document -->
	<form>
	<!-- Inputs -->
	  <!-- Email -->
	  	<div class="form-group">
	    	<label for="inputCrisisName">Email</label>
	    <input type="email" class="form-control" id="inputEmail">
	  </div>
	  <!-- Password -->
	  <div class="form-group">
	    <label for="inputPassword">Password</label>
	    <input type="password" class="form-control" id="inputPassword">
	  </div>
	  <!-- Submit Button -->
	  <button type="submit" class="btn btn-default">Sign In</button>
	</form>
	<!-- End Form Document -->
</div>