<div class="sign-up-in-bg">
	<div class="sign-logo">
		<a href="/home"><img src="/images/crisis-corps-logo.png" class="sign-logo" alt="Crisis Corps logo." /></a>
	</div>
	<div class="sign-up-in-container clearfix">
	
	<!-- checkbox -->
	<div class="checkbox">
	    <label>
	    	<input type="checkbox" id="corp-checkbox"> Please check if you are a Corporate Volunteer
	    </label>
	    <br />
	</div>
		
	<form id="user-signup">
		<div class="form-group">
			<div id = "sign-up">
		    	<label for="memberName">Member Name</label>
		    	<input type="text" class="form-control" id="userName" placeholder="Member Name"> 		
	    		<br>
		    	
		    	<label for="emailAddress">Email Address</label>
		    	<input type="email" class="form-control" id="emailAddress" placeholder="JohnSmith@google.com">
		    	<br>

		   		<label for="inputPassword">Password</label>
		    	<input type="password" class="form-control" id="inputPassword">
		    	<br />

	    		<!--Button -->
				<a href="/profile" type="submitMember" class="btn btn-primary btn-lg btn-block" id="signup-user">Sign Up</a>
	    	</div>
	    </div>
	</form>
</div>

<script type="text/javascript">

$('#signup-user').on('click', function () {
	//pull values from form input
	if ($('input#corp-checkbox').is(':checked')) {
		var userType = 3;
	} else {
		var userType = 2;
	}
	console.log(userType);
	var newMember = {
		userName: $('#userName').val().trim(),
		emailAddress: $('#emailAddress').val().trim(),
		password: $('#inputPassword').val().trim(),
		userType: userType
	}
	//push those values to database
	$.post('/newMember', newMember, function() {
		console.log(newMember);
	})
	//refresh data base information. 

});

//display my sql data into a form document.

//look up npm package to send out e-mail/text

//attach package to button


</script>