<div class="sign-up-in-bg">
	<div class="sign-logo">
		<img src="/images/crisis-corps-logo.png" class="sign-logo" alt="Crisis Corps logo." />
	</div>
	<div class="sign-up-in-container">
		
		<form>
				
			<div class="form-group">
				
				<div id = "Name">
			    	<label for="createTask">Member Name</label>
			    	<input type="text" class="form-control" id="memberName" placeholder="Member Name">
		    		
		    		<br>
			    	
			    	<label for="description">Email Address</label>
			    	<input type="email" class="form-control" id="emailAddress" placeholder="JohnSmith@google.com">

			    	<br>

			    	<label for="createTask">Contact Number</label>
			    	<input type="text" class="form-control" id="contactNumber" placeholder="Contact Number">
		    		
		    		<br>

			    	<label for="description">Twitter Handle</label>
			    	<input type="text" class="form-control" id="twitterHandle" placeholder="Twitter Handle">

			    	<br>

			    	<label for="createTask">Blood Type</label>
			    	<input type="text" class="form-control" id="bloodType" placeholder="Blood Type">
		    		<br>

		    		<!--Button -->
					<button type="submit" class="btn btn-primary">Sign Up</button>

		    	</div>
		    </div>
		</form>
		
	</div>
</div>

<script type="text/javascript">


</script>