
	<br><br><br>
	<div class="container">
		<!--Drop Down Filter -->
		<div class="btn-group">

		  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Filter Tasks <span class="caret"></span></button>

		  	<ul class="dropdown-menu">
		    	<li><a href="#">Action</a></li>
		    	<li><a href="#">Another action</a></li>
		    	<li><a href="#">Something else here</a></li>
		  	</ul>

		</div>

		<div class="btn-group">

		  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Task Lists <span class="caret"></span></button>
		  
		  	<ul class="dropdown-menu">
			    <li><a href="#">Action</a></li>
			    <li><a href="#">Another action</a></li>
			    <li><a href="#">Something else here</a></li>
		  	</ul>

		</div>

	</div>


<!-- Thank You Modal -->
	<div class="modal fade" tabindex="-1" role="dialog">

	  	<div class="modal-dialog">

	    	<div class="modal-content">

	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title">Thank You!</h4>
	      		</div>

	      		<div class="modal-body">
	        		<p>One fine body&hellip;</p>
	      		</div>

	      		<div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
	      		</div>

	    	</div><!-- /.modal-content -->

		</div><!-- /.modal-dialog -->
		
	</div><!-- /.modal -->